/*
	@name desktop___1
*/
/* Only edit this if you know what you are doing! */
body { margin: 0px; padding: 0px; font-family:"Arial"; overflow-x:hidden; }

/* Only edit this if you know what you are doing! */
img { position: absolute; display: block; margin: 0px; border: none; padding: 0px; }

/* Only edit this if you know what you are doing! */
div { position: absolute; }

#content-container { display: block; position: relative; width: 1440px; width: 1440px; height: 1839px; overflow: hidden; display: block;  margin-left: auto; margin-right: auto;  }


#page_desktop___1_ek1 {
	top: 0px;
	left: 0px;
	width: 1440px;
	height: 1839px;
}

#_bg__desktop___1_ek2 {
	top: 0px;
	left: 0px;
	width: 1440px;
	height: 1839px;
	background:rgba(199.86,229.5,224.16,1);
}


#plugin_icon___1_1 {
	top: 175px;
	left: 135px;
	width: 126px;
	height: 124px;
}


#_____ {
	top: 308px;
	left: 135px;
	width: 379.3px;
	height: 131.3px;
	overflow: hidden;
	font-family: Readex Pro;
	font-size: 73px;
	text-align: left;
	color:#000000;
}


#poweratom_foundation {
	top: 417px;
	left: 135px;
	width: 958.3px;
	height: 131.3px;
	overflow: hidden;
	font-family: Readex Pro;
	font-size: 73px;
	text-align: left;
	color:#000000;
}


#rectangle_1 {
	opacity:0.46000000834465;
	top: 732px;
	left: 135px;
	width: 537px;
	height: 444px;
	-ms-border-radius: 15px;
	-o-border-radius: 15px;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	border-radius: 15px;
	background:rgba(255,255,255,0.46);
}


#rectangle_3 {
	opacity:0.46000000834465;
	top: 732px;
	left: 796px;
	width: 537px;
	height: 444px;
	-ms-border-radius: 15px;
	-o-border-radius: 15px;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	border-radius: 15px;
	background:rgba(255,255,255,0.46);
}


#pietech_workspace {
	top: 848px;
	left: 1003px;
	width: 245.4px;
	height: 44.4px;
	overflow: hidden;
	font-family: Readex Pro;
	font-size: 24px;
	text-align: left;
	color:#000000;
}


#coreapps_platform {
	top: 885px;
	left: 1002px;
	width: 225.7px;
	height: 104.7px;
	overflow: hidden;
	font-family: Readex Pro;
	font-size: 37px;
	font-weight: bold;
	text-align: left;
	color:#000000;
}


#plugin_icon___1_1__1 {
	top: 839px;
	left: 849px;
	width: 147px;
	height: 147px;
}


#by_coraws_ {
	top: 1047px;
	left: 1010px;
	width: 120.4px;
	height: 80.4px;
	overflow: hidden;
	font-family: Readex Pro;
	font-size: 24px;
	text-align: left;
	color:#000000;
}


#coreapps_platform_ek1 {
	top: 1040px;
	left: 829px;
	width: 225.7px;
	height: 104.7px;
	overflow: hidden;
	font-family: Readex Pro;
	font-size: 37px;
	text-align: left;
	color:#000000;
}

#frame_2 {
	top: 1056px;
	left: 1149px;
	width: 160px;
	height: 76px;
}

#_bg__frame_2_ek1 {
	top: 0px;
	left: 0px;
	width: 160px;
	height: 76px;
	background:#;
}


#rectangle_4 {
	opacity:0.97000002861023;
	top: 0px;
	left: 0px;
	width: 160px;
	height: 76px;
	-ms-border-radius: 15px;
	-o-border-radius: 15px;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	border-radius: 15px;
	background:rgba(176.77,238,175.52,0.97);
}


#______ek1 {
	top: 23px;
	left: 24px;
	width: 134px;
	height: 35px;
	overflow: hidden;
	font-family: Readex Pro;
	font-size: 20px;
	text-align: left;
	color:#000000;
}


#external_link {
	top: 19px;
	left: 108px;
	width: 33px;
	height: 37px;
}


#______ek2 {
	top: 620px;
	left: 135px;
	width: 179.7px;
	height: 55.7px;
	overflow: hidden;
	font-family: Readex Pro;
	font-size: 37px;
	text-align: left;
	color:#000000;
}


#openwear_wiki {
	top: 1047px;
	left: 162px;
	width: 225.7px;
	height: 104.7px;
	overflow: hidden;
	font-family: Readex Pro;
	font-size: 37px;
	text-align: left;
	color:#000000;
}


#by_coraws__ek1 {
	top: 1053px;
	left: 358px;
	width: 132.4px;
	height: 80.4px;
	overflow: hidden;
	font-family: Readex Pro;
	font-size: 24px;
	text-align: left;
	color:#000000;
}

#frame_1 {
	top: 1054px;
	left: 498px;
	width: 160px;
	height: 76px;
}

#_bg__frame_1_ek1 {
	top: 0px;
	left: 0px;
	width: 160px;
	height: 76px;
	background:#;
}


#rectangle_4_ek1 {
	opacity:0.97000002861023;
	top: 0px;
	left: 0px;
	width: 160px;
	height: 76px;
	-ms-border-radius: 15px;
	-o-border-radius: 15px;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	border-radius: 15px;
	background:rgba(176.77,238,175.52,0.97);
}


#______ek3 {
	top: 23px;
	left: 24px;
	width: 134px;
	height: 35px;
	overflow: hidden;
	font-family: Readex Pro;
	font-size: 20px;
	text-align: left;
	color:#000000;
}


#external_link_ek1 {
	top: 19px;
	left: 108px;
	width: 33px;
	height: 37px;
}


#__c_2023__poweratom_foundation________ {
	top: 1744px;
	left: 70px;
	width: 804.2px;
	height: 56.2px;
	overflow: hidden;
	font-family: Readex Pro;
	font-size: 32px;
	text-align: left;
	color:#000000;
}



/* Add your custom CSS here */
